@tailwind base;
@tailwind components;
@tailwind utilities;

.theme-light {
  --color-primary: #ffffff;
  --color-secondary: #f7fafc;
  --color-ternary: #718096;
  --color-hover: #cbd5e0;
  --color-text: #121822;
}

.theme-dark {
  --color-primary: #102c44;
  --color-secondary: #0d2438;
  --color-ternary: #b0b0b0;
  --color-hover: #6363a3;
  --color-text: #fafafa;
}
